# ~/.aliases

alias back='cd -'
alias chmod='chmod --changes --recursive'
alias cp='cp --archive --update --verbose'
alias dd='dd status=progress'
alias df='df --human-readable --print-type --exclude-type=tmpfs --total'
alias diff='diff --recursive --suppress-common-lines --suppress-blank-empty'
alias du='du --human-readable --summarize'
alias free='free --human --wide'
alias gdb='gdb -quiet'
alias less='less --force --LONG-PROMPT --RAW-CONTROL-CHARS'
alias ls='ls --color=always --group-directories-first --classify --literal'
alias makepkg='makepkg -sCcir --needed --noconfirm'
alias makepkg='makepkg --clean --cleanbuild --install --needed --noconfirm --rmdeps --syncdeps'
alias mkdir='mkdir --parents'
alias mv='mv --interactive --update --verbose'
alias pacman='pacman --noconfirm'
alias pingg='ping -c 3 8.8.8.8'
alias rm='rm --interactive=once --recursive --verbose'
alias sudo='sudo '
alias vim='vim -p'

# create, folder, verbose, gzip
alias compress='tar cfvz'

# atool package
alias ex='aunpack'

# clean latex temporary files
alias rml='rm -f *.{aux,bbl,blg,fdb_latexmk,fls,log,nav,out,snm,synctex.gz,toc,vrb}'

# clean virtualenv files
alias rmv='rm -f bin/ include/ lib* pyvenv.cfg pip-selfcheck.json'
