alias back='cd -'
alias chmod='chmod -Rv'
alias compress='tar cvzf'
alias cp='cp -dpruv'
alias dd='dd status=progress'
alias df='df -hTx tmpfs --total'
alias diff='diff -rs --suppress-common-lines --suppress-blank-empty'
alias du='du -hs'
alias find='find -O3 / -iname $@ 2>/dev/null'
alias free='free -h | head -2'
alias grep='grep -i --color=always'
alias less='less -MR'
alias ls='LC_ALL=C ls --color=always --group-directories-first -AFghoN'
alias makepkg='makepkg -sCcir --needed --noconfirm'
alias mkdir='mkdir -p'
alias mv='mv -v'
alias pacman='pacman --noconfirm'
alias pingg='ping -c 3 8.8.8.8'
alias rm='rm -irv'
alias rml='rm -f *.{aux,fdb_latexmk,fls,log,nav,out,snm,synctex.gz,toc}'
alias sudo='sudo '
