[user]
    email = gzmbnn@gmail.com
    name  = Gustavo Zambonin

[push]
    default = simple

[color]
    ui = auto
    status = always

[core]
    editor = vim
    excludesfile = ~/.files/conf/.gitignore_global
    pager = less -+FSX

[alias]
    br = branch -v
    ca = commit --amend
    ch = checkout
    cm = commit --verbose
    cp = cherry-pick
    ct = !git --no-pager shortlog --summary --numbered --email
    df = "!for i in $(git diff --name-only) ; do git diff "$i"; done"
    ds = diff --staged
    lc = !git --no-pager log -p -1 --format=fuller
    lg = log --graph --pretty=format:'%C(auto)%h • %ar by %an <%ae>%d %n%B'
    nb = checkout -b
    rc = rebase --continue
    ri = rebase --interactive
    ss = status -bs

[diff]
	indentHeuristic = on
