[user]
    email = gzmbnn@gmail.com
    name  = Gustavo Zambonin

[push]
    default = simple

[color]
    ui = auto
    status = always

[core]
    editor = vim
    excludesfile = ~/.files/.gitignore_global
    pager = less -+FSX

[alias]
    ch = checkout
    cm = commit --verbose
    ct = !git --no-pager shortlog --summary --numbered --email
    df = "!f() { for i in $(git diff --name-only) ; do git diff "$i"; done }; f"
    ds = diff --staged
    lc = !git --no-pager log -1
    lg = log --graph --pretty=format:'%C(12)%h • %ar by %an <%ae> %n%B'
    nb = checkout -b
    ss = status -bs
