spawn-at-startup "mako"
spawn-at-startup "poweralertd" "-s"
spawn-at-startup "swayidle" "-w"
spawn-at-startup "sh" "-c" "swaybg -m fill -i ~/.wallpaper"
spawn-at-startup "sh" "-c" "gammastep -l $(curl -s ipinfo.io/loc | sed 's/,/:/')"
spawn-at-startup "xwayland-satellite"

environment {
  DISPLAY ":0"
}

prefer-no-csd

screenshot-path "/tmp/capture-%Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
  skip-at-startup
}

animations {
  off
}

cursor {
  hide-when-typing
  hide-after-inactive-ms 1000
}

input {
  keyboard {
    xkb {
      layout "us"
      variant "intl"
      options "caps:menu"
    }
  }

  touchpad {
    tap
    dwt
    dwtp
    scroll-method "two-finger"
    disabled-on-external-mouse
  }

  warp-mouse-to-focus
}

output "eDP-1" {
  scale 1.5
  transform "normal"
}

layout {
  gaps 4

  tab-indicator {
    hide-when-single-tab
  }

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off
  }

  border {
    off
  }
}

window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}

binds {
  Mod+dead_grave { spawn "fuzzel"; }
  Mod+Return { spawn "alacritty"; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Tab { focus-workspace-previous; }

  Mod+Up  { focus-window-up; }
  Mod+Down { focus-window-down; }
  Mod+Left { focus-column-left; }
  Mod+Right { focus-column-right; }

  Mod+Shift+Up  { move-column-to-workspace-up; }
  Mod+Shift+Down { move-column-to-workspace-down; }
  Mod+Shift+Left { consume-or-expel-window-left; }
  Mod+Shift+Right { consume-or-expel-window-right; }

  Mod+Q { set-column-width "-10%"; }
  Mod+W { switch-preset-column-width; }
  Mod+E { set-column-width "+10%"; }
  Mod+F { maximize-column; }

  Mod+Shift+F { fullscreen-window; }
  Mod+Shift+Return { toggle-window-floating; }
  Mod+Shift+Q { close-window; }

  Mod+Shift+L { spawn "swaylock"; }
  Mod+Shift+P { power-off-monitors; }
  Mod+Shift+E { quit; }

  Print { screenshot-screen; }
  Ctrl+Print { screenshot-window; }
  Shift+Print { screenshot; }

  XF86AudioRaiseVolume allow-when-locked=true {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+";
  }
  XF86AudioLowerVolume allow-when-locked=true {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-";
  }
  XF86AudioMute allow-when-locked=true {
    spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle";
  }
  XF86AudioMicMute allow-when-locked=true {
    spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle";
  }
  XF86MonBrightnessUp {
    spawn "brightnessctl" "set" "+2%";
  }
  XF86MonBrightnessDown {
    spawn "brightnessctl" "set" "2%-";
  }
}
