# ~/.aliases

alias back='cd -'
alias chmod='chmod --changes --recursive'
alias cnt='sort | uniq --count | sort --numeric-sort --reverse'
alias cp='cp --archive --update --verbose'
alias dd='dd status=progress'
alias df='df --human-readable --print-type --exclude-type=tmpfs --total'
alias diff='diff --recursive --suppress-common-lines --suppress-blank-empty'
alias du='du --human-readable --summarize'
alias free='free --human --wide'
alias gdb='gdb -quiet'
alias less='less --force --LONG-PROMPT --RAW-CONTROL-CHARS'
alias ls='ls --color=always --group-directories-first --classify --literal'
alias makepkg='makepkg --clean --cleanbuild --install --needed --noconfirm --rmdeps --syncdeps'
alias mkdir='mkdir --parents'
alias mv='mv --interactive --update --verbose'
alias pacman='pacman --noconfirm'
alias pingg='ping -c 3 1.1.1.1'
alias rm='rm --interactive=once --recursive --verbose'
alias sudo='sudo '
alias vim='vim -p'

# create, folder, verbose, gzip
alias compress='tar cfvz'

# atool package
alias ex='aunpack'

# git status for all repositories under $PWD
alias gss="parallel -j$(nproc) \
  git -C {} status -s :::: <(find . -type d -name .git | sed 's/.git//')"

# clean latex temporary files
alias rml='latexmk -c'

# clean virtualenv files
alias rmv='rm -f bin/ include/ lib* pyvenv.cfg pip-selfcheck.json'
