[Unit]
Description=lock before suspend
Before=sleep.target

[Service]
User=%I
ExecStart=/home/%I/.files/scripts/lock
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=suspend.target
